*.log
*.nav
*.out
*.snm
*.sta
*.toc
*.aux
*.fls
*.fdb_latexmk
*~
newton.2025.clojureconj.slides.pdf
includes/balanced-rte.pdf
includes/balanced-dfa.pdf
includes/rte-naive-edge.pdf
includes/dfa-naive-edge.pdf
includes/plot*.png