{:aliases
 {:clj-kondo
  {:replace-deps
   {clj-kondo/clj-kondo
    {:git/url "https://github.com/clj-kondo/clj-kondo"
     ;; see https://github.com/clj-kondo/clj-kondo/commits/macroexpand for newer commits
     ;; :sha "d779b794a6ebb631954a8399e2a7136f72f75365"
     
     :sha "8b5cf40d1cf92409687f2697b29220435f8cc137"}}
   :main-opts ["-m" "clj-kondo.main"]}}}
