{:paths ["src" "resources"],
 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"},
  org.clojure/data.csv {:mvn/version "1.1.0"},
  metasoarous/oz {:mvn/version "2.0.0-alpha5"},
  lein-cloverage/lein-cloverage {:mvn/version "1.2.4"},
  org.clojure/data.json {:mvn/version "1.0.0"},
  com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"},
  backtick/backtick {:mvn/version "0.3.4"},
  org.clojure/core.memoize {:mvn/version "1.0.236"},
  org.clojure/math.combinatorics {:mvn/version "0.1.6"}}}
