{:hooks {:analyze-call {clojure.core/def def-hook/transform-def
                        clojure-rte.util/print-vals          def-hook/transform-print-vals
                        clojure-rte.util/defn-memoized  def-hook/transform-defn-memoized
                        clojure-rte.util/defmulti-memoized  def-hook/transform-defmulti-memoized
                        clojure-rte.util/defmethod-memoized  def-hook/transform-defmethod-memoized
                        clojure-rte.util/exists  def-hook/transform-exists
                        clojure-rte.util/setof  def-hook/transform-setof
                        clojure-rte.util/forall  def-hook/transform-forall
                        clojure-rte.util/forall-pairs  def-hook/transform-forall-pairs
                        clojure-rte.util/exists-pair  def-hook/transform-exists-pair
                        clojure-rte.util/casep def-hook/transform-casep
}}}
